{% extends 'panel.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sort') }}
    {% for face in font.faces %}
        {{ font_face_style(face) }}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sort') }}
{% endblock %}

{% set title = font.name ~ ' Sort Faces' %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('panel') }}">Panel</a></li>
    <li class="breadcrumb-item"><a href="{{ path('fonts') }}">Fonts</a></li>
    <li class="breadcrumb-item"><a href="{{ path('fonts.show', {'id': font.id}) }}">{{ font.name }}</a></li>
    <li class="breadcrumb-item active">Upload files</li>
{% endblock %}

{% block body %}

    <h1 class="mt-0 mb-3 font-xl">
        {{ title }}
    </h1>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_errors(form.faces) }}

            <ul id="sortable">
                {% for face in font.faces %}
                    <li class="ui-state-default font-face-{{ face.name }}">
                        <input type="hidden" name="form[faces][]" value='{{ face.id }}'/>
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                        {{ face.name }}
                    </li>
                {% endfor %}
                {% do form.faces.setRendered %}
            </ul>

            <button type="submit" class="btn btn-primary mt-3">Save</button>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
