{% extends 'panel.html.twig' %}

{% block title %}Users{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('panel') }}">Panel</a></li>
    <li class="breadcrumb-item"><a href="{{ path('users') }}">Users</a></li>
    <li class="breadcrumb-item active">{{ user.name.full }}</li>
{% endblock %}

{% block body %}

    {% if user.id.value != app.user.id %}
        <div class="controls mb-3">
            <a href="{{ path('users.edit', {'id': user.id}) }}" class="btn btn-primary list-inline-item mr-0">Edit</a>
            <a href="{{ path('users.role', {'id': user.id}) }}" class="btn btn-primary list-inline-item mr-0">Change Role</a>
            {% if user.wait %}
                <form action="{{ path('users.confirm', {'id': user.id}) }}" method="post" onsubmit="return confirm('Are you sure?')" class="list-inline-item mr-0">
                    <input type="hidden" name="token" value="{{ csrf_token('confirm') }}" />
                    <button type="submit" class="btn btn-success">Confirm</button>
                </form>
            {% endif %}
            {% if user.active %}
                <form action="{{ path('users.block', {'id': user.id}) }}" method="post" onsubmit="return confirm('Are you sure?')" class="list-inline-item mr-0">
                    <input type="hidden" name="token" value="{{ csrf_token('block') }}" />
                    <button type="submit" class="btn btn-danger">Block</button>
                </form>
            {% endif %}
            {% if user.blocked %}
                <form action="{{ path('users.activate', {'id': user.id}) }}" method="post" onsubmit="return confirm('Are you sure?')" class="list-inline-item mr-0">
                    <input type="hidden" name="token" value="{{ csrf_token('activate') }}" />
                    <button type="submit" class="btn btn-success">Activate</button>
                </form>
            {% endif %}
        </div>
    {% endif %}


    <div class="card">
        <div class="card-body">
            <div class="box">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ user.name.full }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email ? user.email.value : '' }}</td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td>{{ user.date|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Role</th>
                            <td>{{ user_role(user.role.name) }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ user_status(user.status) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}